@model wazaware.co.za.Models.ViewModels.OrderViewModel
@{
	ViewData["Title"] = "CheckoutUser";
}
<!DOCTYPE html>
<configuration>
	<system.webServer>
		<security>
			<dynamicIpSecurity denyAction="Forbidden">
				<denyByConcurrentRequests enabled="true" maxConcurrentRequests="10" />
				<denyByRequestRate enabled="true" maxRequests="30" requestIntervalInMilliseconds="300" />
			</dynamicIpSecurity>
		</security>
	</system.webServer>
</configuration>
<html lang="zxx">
<head>
	<!-- Meta Tags -->
	<partial name="_MetaData" />
	<!-- Title Tag  -->
	<title>Checkout Complete</title>
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Lato:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	<!-- StyleSheet -->
	<!-- Bootstrap -->
	<link rel="stylesheet" href="~/css/bootstrap.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="~/css/magnific-popup.min.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="~/css/font-awesome.css">
	<!-- Fancybox -->
	<link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
	<!-- Themify Icons -->
	<link rel="stylesheet" href="~/css/themify-icons.css">
	<!-- Jquery Ui -->
	<link rel="stylesheet" href="~/css/jquery-ui.css">
	<!-- Nice Select CSS -->
	<link rel="stylesheet" href="~/css/niceselect.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="~/css/animate.css">
	<!-- Flex Slider CSS -->
	<link rel="stylesheet" href="~/css/flex-slider.min.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="~/css/owl-carousel.css">
	<!-- Slicknav -->
	<link rel="stylesheet" href="~/css/slicknav.min.css">
	<!-- Alertify -->
	<link rel="stylesheet" href="~/alertifyjs/css/alertify.min.css" />
	<link rel="stylesheet" href="~/alertifyjs/css/themes/default.min.css" />
	<!-- Reset CSS -->
	<link rel="stylesheet" href="~/css/reset.css">
	<!-- Nice Select JS -->
	<link rel="stylesheet" href="~/css/niceselect.css">
	<!-- Temp CSS -->
	<link rel="stylesheet" href="~/css/style.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="~/css/responsive.css">
	<!-- Site CSS -->
	<link rel="stylesheet" href="~/css/site.css">
	<style type="text/css">
		/* hide mobile div by default */
		.mobile {
			display: none;
		}

		/* show desktop div on screens wider than 768px */
		@@media (min-width: 768px) {
			.desktop {
				display: block;
			}

			.mobile {
				display: none;
			}
		}

		/* show mobile div on screens narrower than 768px */
		@@media (max-width: 767px) {
			.desktop {
				display: none;
			}

			.mobile {
				display: block;
			}
		}

		.section-divider {
			border-top: 1px solid black;
			padding-top: 20px;
			margin-top: 20px;
		}

		.div-divider {
			border-right: 1px solid black;
			padding-right: 10px;
			margin-right: 10px;
		}
	</style>
</head>
<body class="js">
	<!-- Preloader -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- // -->
	<!-- Scroll -->
	<div id="progressBarContainer">
		<div id="progressBar"></div>
	</div>
	<!-- // -->
	<!-- Header Shop -->
	<div class="header shop" style="background-color:#FFF5E1;">
		<!-- Topbar // Desktop Only -->
		<div class="desktop">
			<partial name="_TopBar" />
			<!-- Middle Inner -->
			<partial name="_MiddleInner" model="@Model.PartialView" />
			<!-- Header Inner Partial View-->
			<partial name="_HeaderInner" />
		</div>
		<!-- // -->
		<!-- Header Inner // Mobile Only -->
		<div class="mobile">
			<!-- Header Inner Partial View-->
			<partial name="_HeaderInnerMobile" />
			<!-- // -->
		</div>
		<!-- // -->
	</div>
	<!-- // -->
	<!-- Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner">
						<ul class="bread-list">
							<li><a href="/Shop/ShoppingCart">ShoppingCart<i class="ti-arrow-right"></i></a></li>
							<li class="active"><a href="/Checkout">Checkout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container text-center" style="overflow:hidden;max-width:85%;">
		<div class="row">
			<div class="col" style="display: flex;flex-direction: column;justify-content: center;padding:15px;">
				<h2>Order Received!</h2>
			</div>
			<div class="col" style="display: flex;flex-direction: column;justify-content: center;padding:15px;">
				<script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
				<lord-icon src="https://cdn.lordicon.com/xxdqfhbi.json"
						   trigger="loop"
						   delay="2000"
						   colors="primary:#121331,secondary:#e88c30,tertiary:#30c9e8"
						   style="width:250px;height:250px">
				</lord-icon>
			</div>
		</div>

		<div class="row section-divider">
			<div class="col" style="display: flex;flex-direction: column;justify-content: center;padding:15px;">
				<script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
				<lord-icon src="https://cdn.lordicon.com/gzmgulpl.json"
						   trigger="loop"
						   delay="2000"
						   colors="outline:#000000,primary:#e88c30,secondary:#30c9e8"
						   style="width:250px;height:250px">
				</lord-icon>
			</div>
			<div class="col" style="display: flex;flex-direction: column;justify-content: center;padding:15px;">
				<h2 class="h2">Thank you for placing your order! Here's what you can expect:</h2>
				<ol class="list-group list-group-numbered">
					<li class="list-group-item">Check your email: We've sent you an order summary and banking details.</li>
					<li class="list-group-item">Proof of payment: Once we receive your payment confirmation, we'll swiftly pack and ship your order, ensuring a speedy delivery.</li>
					<li class="list-group-item">Stay in the loop: We'll keep you informed about your order status throughout the process. Keep an eye on your email inbox for updates after completing your payment.</li>
				</ol>
				<p><b>We're here to assist you every step of the way. If you have any questions, feel free to reach out. Happy shopping with Wazaware!</b><br /><a href="#" class=" btn fs-4 h4" style="padding:5px;">Got a Question?</a></p>
			</div>
		</div>

		<div class="row section-divider">
			<div class="col" style="display: flex;flex-direction: column;justify-content: center;padding:15px;">
				<h4 class="h4">Your Order: #@Model.Order!.OrderId</h4>
				<div class="table-responsive" style="overflow:scroll">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Order</th>
								<th scope="col">Name</th>
								<th scope="col">Quantity</th>
								<th scope="col">Price</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var product in Model.ShoppingCart!)
							{
								<tr>
									<th scope="row"><img src="https://wazaware.co.za/Backend/GetImage/@product.ProductId" width="100" height="100" title="product" /></th>
									<td><a href="https://wazaware.co.za/Shop/Product/@product.ProductId"><h5>@product.ProductName!.Substring(0,35) ...</h5></a></td>
									<td>@product.ProductCount</td>
									<td>
										<span style="text-decoration-line:line-through;color:red;">@product.ProductPriceBaseFormatted</span><br>
										<b>@product.ProductPriceSaleFormatted</b>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
			<div class="col" style="display: flex;flex-direction: column;justify-content: center;padding:15px;">
				<h4 class="h4">Total</h4>
				<div class="table-responsive" style="overflow:scroll">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Sub Total Amount</th>
								<th scope="col">Shipping</th>
								<th scope="col">Discounted</th>
								<th scope="col">Total</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var product in Model.ShoppingCart!)
							{
								<tr>
									<th scope="row">@product.CartBaseTotalFormatted</th>
									<td>@product.ShippingCostFormatted</td>
									<td>@product.ProductBaseSaleDiffFormatted</td>
									<td>
										<span style="text-decoration-line:line-through;color:red;">@product.CartBaseTotalFormatted</span><br>
										<b>@product.CartSaleTotalFormatted</b>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="container" style="max-width:85%">
		<div class="row">
			<div class="col-lg-6 col-12">
				<div class="row section-divider">
					<div class="col-12">
						<h4 class="h4">Shipping Address <i class="ti-pencil-alt" style="white-space: nowrap;" data-toggle="tooltip" data-placement="right" title="Change Shipping Address Details"></i></h4>
					</div>
					<div class="col">
						<dl>
							@if (Model.ShippingAddress!.UnitNo != 0)
							{
								<dt>Unit Number</dt>
								<dd>@Model.ShippingAddress!.UnitNo</dd>
							}
							else
							{
								<dt>Unit Number</dt>
								<dd>Not Specified</dd>
							}
							<dt>Street Address</dt>
							<dd>@Model.ShippingAddress.StreetAddress</dd>
						</dl>
					</div>
					<div class="col">
						<dl>
							<dt>Suburb</dt>
							<dd>@Model.ShippingAddress.Suburb</dd>
							<dt>City</dt>
							<dd>@Model.ShippingAddress.City</dd>
						</dl>
					</div>
					<div class="col">
						<dl>
							<dt>Province</dt>
							<dd>@Model.ShippingAddress.Province</dd>
							<dt>PostalCode</dt>
							<dd>@Model.ShippingAddress.PostalCode</dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-12">
				<div class="row section-divider">
					<div class="col-12">
						<h5 class="h5">Our Banking Details</h5>
						<p class="fs-4 h5">Standard Bank</p>
					</div>
					<div class="col">
						<dl>
							<dt>Branch Code</dt>
							<dd>314</dd>
							<dt>Account Holder</dt>
							<dd>MR BRANDEN B VAN STADEN</dd>
						</dl>
					</div>
					<div class="col">
						<dl>
							<dt>Account Number</dt>
							<dd>08 134 172 5</dd>
							<dt>Reference</dt>
							<dd>ORDERID-@Model.Order.OrderId</dd>
						</dl>
					</div>
					<div class="col">
						<dl>
							<dt>Amount</dt>
							<dd>@Model.Order.OrderTotal</dd>
							<dt>Email Proof of Payment to</dt>
							<dd><a href="mailto:brandenconnected@gmail.com" title="proofofpaymentemail">brandenconnected@gmail.com</a></dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/ End Checkout -->
	<!-- Shop Services Partial View-->
	<partial name="_Services" />
	<!-- // -->
	<!-- Footer Partial View-->
	<partial name="_Footer" />
	<!-- // -->
	@section Scripts {
		<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	}
	<!-- Jquery -->
	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/jquery-migrate-3.0.0.js"></script>
	<script src="~/s/jquery-ui.min.js"></script>
	<!-- Popper JS -->
	<script src="~/js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="~/js/bootstrap.min.js"></script>
	<!-- Color JS -->
	<script src="~/js/colors.js"></script>
	<!-- Slicknav JS -->
	<script src="~/js/slicknav.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="~/js/owl-carousel.js"></script>
	<!-- Magnific Popup JS -->
	<script src="~/js/magnific-popup.js"></script>
	<!-- Waypoints JS -->
	<script src="~/js/waypoints.min.js"></script>
	<!-- Countdown JS -->
	<script src="~/js/finalcountdown.min.js"></script>
	<!-- Nice Select JS -->
	<script src="~/js/nicesellect.js"></script>
	<!-- Flex Slider JS -->
	<script src="~/js/flex-slider.js"></script>
	<!-- Alertify -->
	<script src="~/alertifyjs/alertify.min.js"></script>
	<!-- ScrollUp JS -->
	<script src="~/js/scrollup.js"></script>
	<!-- Onepage Nav JS -->
	<script src="~/js/onepage-nav.min.js"></script>
	<!-- Easing JS -->
	<script src="~/js/easing.js"></script>
	<!-- Active JS -->
	<script src="~/js/active.js"></script>

	<!-- Custom Scripts -->
	<!--Load Scrolling Bar-->
	<script type="text/javascript">
		const progressBarContainer = document.querySelector("#progressBarContainer");
		const progressBar = document.querySelector("#progressBar");
		let totalPageHeight = document.body.scrollHeight - window.innerHeight;
		let debounceResize;

		window.addEventListener("scroll", () => {
			let newProgressHeight = window.pageYOffset / totalPageHeight;
			progressBar.style.transform = `scale(1,${newProgressHeight})`;
			progressBar.style.opacity = `${newProgressHeight}`;
		}, {
			capture: true,
			passive: true
		});

		window.addEventListener("resize", () => {
			clearTimeout(debounceResize);
			debounceResize = setTimeout(() => {
				totalPageHeight = document.body.scrollHeight - window.innerHeight;
			}, 250);
		});

		progressBarContainer.addEventListener("click", (e) => {
			let newPageScroll = e.clientY / progressBarContainer.offsetHeight * totalPageHeight;
			window.scrollTo({
				top: newPageScroll,
				behavior: 'smooth'
			});
		});
	</script>
	<!--Functions-->
	<script type="text/javascript">
		// Hide the loading bar on page load
		$(document).ready(function () {
			$('#paymentmethod').hide();
			$('#billingaddress').show();
		});
		// [GET]
		// Proceed to checkout
		function proceedToCheckout() {
			let startPlaceOrder = 1;
			// Show the loading bar
			$('#loading-bar').show();
			$('#123Section').hide();
			// Make an Ajax call to the server to start the processing
			$.ajax({
				type: "POST",
				url: '/Checkout/Proceed',
				data: { startPlaceOrder: startPlaceOrder },
				success: function (r) {
					alertify.notify('Order Created!', 'success', 2, function () { console.log('dismissed'); });
					// Hide the loading bar when the processing is complete
					$('#loading-bar').hide();

					// Do something with the server response, if necessary
					alert('Thank You. Your Order has been placed. Please check your email!');
					window.location.href = '/Orders/Index';
				},
				error: function (e) {
					alertify.error('Error: You have entered some invalid information');
					window.location.href = '/Shop/Index';
				}
			});
		}
	</script>
</body>

</html>

