@model wazaware.co.za.Models.ViewModels.OrderViewModel
@{
	ViewData["Title"] = "CheckoutUser";
}
<!DOCTYPE html>
<configuration>
	<system.webServer>
		<security>
			<dynamicIpSecurity denyAction="Forbidden">
				<denyByConcurrentRequests enabled="true" maxConcurrentRequests="10" />
				<denyByRequestRate enabled="true" maxRequests="30" requestIntervalInMilliseconds="300" />
			</dynamicIpSecurity>
		</security>
	</system.webServer>
</configuration>
<html lang="zxx">
<head>
	<!-- Meta Tags -->
	<partial name="_MetaData" />
	<!-- Title Tag  -->
	<title>Checkout</title>
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Lato:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	<!-- StyleSheet -->
	<!-- Bootstrap -->
	<link rel="stylesheet" href="~/css/bootstrap.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="~/css/magnific-popup.min.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="~/css/font-awesome.css">
	<!-- Fancybox -->
	<link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
	<!-- Themify Icons -->
	<link rel="stylesheet" href="~/css/themify-icons.css">
	<!-- Jquery Ui -->
	<link rel="stylesheet" href="~/css/jquery-ui.css">
	<!-- Nice Select CSS -->
	<link rel="stylesheet" href="~/css/niceselect.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="~/css/animate.css">
	<!-- Flex Slider CSS -->
	<link rel="stylesheet" href="~/css/flex-slider.min.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="~/css/owl-carousel.css">
	<!-- Slicknav -->
	<link rel="stylesheet" href="~/css/slicknav.min.css">
	<!-- Alertify -->
	<link rel="stylesheet" href="~/alertifyjs/css/alertify.min.css" />
	<link rel="stylesheet" href="~/alertifyjs/css/themes/default.min.css" />
	<!-- Reset CSS -->
	<link rel="stylesheet" href="~/css/reset.css">
	<!-- Nice Select JS -->
	<link rel="stylesheet" href="~/css/niceselect.css">
	<!-- Temp CSS -->
	<link rel="stylesheet" href="~/css/style.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="~/css/responsive.css">
	<!-- Site CSS -->
	<link rel="stylesheet" href="~/css/site.css">
	<style type="text/css">
		/* hide mobile div by default */
		.mobile {
			display: none;
		}

		/* show desktop div on screens wider than 768px */
		@@media (min-width: 768px) {
			.desktop {
				display: block;
			}

			.mobile {
				display: none;
			}
		}

		/* show mobile div on screens narrower than 768px */
		@@media (max-width: 767px) {
			.desktop {
				display: none;
			}

			.mobile {
				display: block;
			}
		}

		.section-divider {
			border-top: 1px solid black;
			padding-top: 20px;
			margin-top: 20px;
		}

		.div-divider {
			border-right: 1px solid black;
			padding-right: 10px;
			margin-right: 10px;
		}
	</style>
</head>
<body class="js">
	<!-- Preloader -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- // -->
	<!-- Scroll -->
	<div id="progressBarContainer">
		<div id="progressBar"></div>
	</div>
	<!-- // -->
	<!-- Header Shop -->
	<div class="header shop" style="background-color:#FFF5E1;">
		<!-- Topbar // Desktop Only -->
		<div class="desktop">
			<partial name="_TopBar" />
			<!-- Middle Inner -->
			<partial name="_MiddleInner" model="@Model.PartialView" />
			<!-- Header Inner Partial View-->
			<partial name="_HeaderInner" />
		</div>
		<!-- // -->
		<!-- Header Inner // Mobile Only -->
		<div class="mobile">
			<!-- Header Inner Partial View-->
			<partial name="_HeaderInnerMobile" />
			<!-- // -->
		</div>
		<!-- // -->
	</div>
	<!-- // -->
	<!-- Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner">
						<ul class="bread-list">
							<li><a href="/Shop/Cart">Cart<i class="ti-arrow-right"></i></a></li>
							<li class="active"><a href="/Checkout">Checkout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->
	<!-- Start Checkout -->
	<div id="loading-bar" style="display: none;">
		<section class="shop checkout section">
			<h4>Please wait while we process your order...</h4>
		</section>
	</div>
	<!-- Shopping Cart -->
	@if (Model.ShoppingCart!.Count() > 0)
	{
		<section id="123Section" class="product-area shop-sidebar shop section">
			<div class="container" style="max-width:100%">
				<div class="row">
					<div class="col-12">
						<p class="fs-4 h4" style="padding:0 10px;">
							Do you have everything you need?
						</p>
					</div>
				</div>
				<div id="cartmain" class="row section-divider">
					<!-- Shop Product Grid -->
					<div class="col-lg-7 col-md-4 col-12">
						<!-- Cart Products: Grid -->
						<div class="row">
							@foreach (var product in Model.ShoppingCart!)
							{
								<div class="col-lg-6 col-md-9 col-12">
									<div class="single-product contain-fit">
										<div class="product-img contain-fit">
											<a href="/Shop/Product/@product.ProductId">
												<img src="@Url.Action("GetImage", "Backend", new { id = product.ProductId })" alt="@product.ProductName" class="contain-fit" />
											</a>
											<div class="button-head">
												<div class="product-action">
													<a href="#0" class="remove" title="Remove this item" onclick="loadDeleteCart('@product.ProductId')">
														<i class="fa fa-remove"></i><span>Remove Item From Cart</span>
													</a>
												</div>
											</div>
										</div>
										<div class="product-content">
											<h3><a href="/Shop/Product/@product.ProductId">@product.ProductName!.Substring(0,35) ...</a></h3>
											<div class="product-price">
												<span style="">Quantity : @Model.ShoppingCart!.Select(s => s.ProductCount).First()</span>
											</div>
											<div class="product-price">
												<span style="">Price : @product.ProductTotalFormatted</span>
											</div>
											<div class="product-price">
												<span style="font-weight:800">You Save : @product.ProductBaseSaleDiffFormatted</span>
											</div>
										</div>
									</div>
								</div>
							}
						</div>
						<!-- // BREAK // -->
						<br>
					</div>
					<!-- Side Cards -->
					<div class="col-lg-5 col-md-6 col-12">
						<div class="card text-bg-dark" style="margin:10px;">
							<div class="card-header text-center">
								<p class="fs-2 h2">
									Finalize Cart & Payment
								</p>
							</div>
							<div class="card-body">
								@if (Model.ShoppingCart!.Select(s => s.ShippingCost).First() != 0)
								{
									<p class="fs-4 h4">
										Shipping:<br>
										<span>
											@Model.ShoppingCart!.Select(s => s.ShippingCostFormatted).First()
										</span>
									</p>
									<br>
								}
								<p class="fs-4 h4">
									Your Total WAS:<br>
									<span class="text-decoration-line-through" style="color:red; text-decoration:line-through;">
										@Model.ShoppingCart!.Select(s => s.CartBaseTotalFormatted).First()
									</span>
								</p>
								<br>
								<p class="fs-4 h4">
									You Save:<br>
									<span style="color:forestgreen;">
										@Model.ShoppingCart!.Select(s => s.CartBaseSaleDiffFormatted).First()
									</span>
								</p>
								<br>
								<p class="fs-4 h4">
									Your Total NOW:<br>
									<span style="text-decoration-line:underline;font-weight:700;">
										@Model.ShoppingCart!.Select(s => s.CartSaleTotalFormatted).First()
									</span>
								</p>
								<br>
							</div>
							<div class="card-footer text-center">
								<div class="row">
									<div class="col">
										<a href="@Url.Action("Payment", "Checkout")" class="btn fs-4 h4" style="padding:5px;">Proceed with Payment</a>
									</div>
									<div class="col">
										<a href="/" class="btn fs-4 h4" style="padding:5px;">Forgot Something?</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	}
	else
	{
		<section class="hero-slider">
			<!-- Single Slider -->
			<div class="single-slider" style="background-image:url(/Media/Shop/ShoppingCart.png)">
				<div class="container">
					<div class="row no-gutters">
						<div class="col-lg-9 offset-lg-3 col-12">
							<div class="text-inner">
								<div class="row">
									<div class="col-lg-7 col-12" style="background-color:rgba(0, 0, 0, 0.8);">
										<div class="hero-text">
											<h1><span style="color:ghostwhite">Don't forget to add to cart </span>Your Cart is Currently Empty...</h1>
											<p style="color:ghostwhite">Discover the lowest prices on hardware products with our AI-powered ecommerce store. Shop now for unbeatable deals.</p>
											<div class="button" style="padding:25px 0;">
												<a href="/Shop" class="btn">Shop Now!</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Single Slider -->
		</section>
	}
	<!-- // -->
	<!--/ End Checkout -->
	<!-- Shop Services Partial View-->
	<partial name="_Services" />
	<!-- // -->
	<!-- Footer Partial View-->
	<partial name="_Footer" />
	<!-- // -->
	@section Scripts {
		<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	}
	<!-- Jquery -->
	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/jquery-migrate-3.0.0.js"></script>
	<script src="~/s/jquery-ui.min.js"></script>
	<!-- Popper JS -->
	<script src="~/js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="~/js/bootstrap.min.js"></script>
	<!-- Color JS -->
	<script src="~/js/colors.js"></script>
	<!-- Slicknav JS -->
	<script src="~/js/slicknav.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="~/js/owl-carousel.js"></script>
	<!-- Magnific Popup JS -->
	<script src="~/js/magnific-popup.js"></script>
	<!-- Waypoints JS -->
	<script src="~/js/waypoints.min.js"></script>
	<!-- Countdown JS -->
	<script src="~/js/finalcountdown.min.js"></script>
	<!-- Nice Select JS -->
	<script src="~/js/nicesellect.js"></script>
	<!-- Flex Slider JS -->
	<script src="~/js/flex-slider.js"></script>
	<!-- Alertify -->
	<script src="~/alertifyjs/alertify.min.js"></script>
	<!-- ScrollUp JS -->
	<script src="~/js/scrollup.js"></script>
	<!-- Onepage Nav JS -->
	<script src="~/js/onepage-nav.min.js"></script>
	<!-- Easing JS -->
	<script src="~/js/easing.js"></script>
	<!-- Active JS -->
	<script src="~/js/active.js"></script>

	<!-- Custom Scripts -->
	<!--Load Scrolling Bar-->
	<script type="text/javascript">
		const progressBarContainer = document.querySelector("#progressBarContainer");
		const progressBar = document.querySelector("#progressBar");
		let totalPageHeight = document.body.scrollHeight - window.innerHeight;
		let debounceResize;

		window.addEventListener("scroll", () => {
			let newProgressHeight = window.pageYOffset / totalPageHeight;
			progressBar.style.transform = `scale(1,${newProgressHeight})`;
			progressBar.style.opacity = `${newProgressHeight}`;
		}, {
			capture: true,
			passive: true
		});

		window.addEventListener("resize", () => {
			clearTimeout(debounceResize);
			debounceResize = setTimeout(() => {
				totalPageHeight = document.body.scrollHeight - window.innerHeight;
			}, 250);
		});

		progressBarContainer.addEventListener("click", (e) => {
			let newPageScroll = e.clientY / progressBarContainer.offsetHeight * totalPageHeight;
			window.scrollTo({
				top: newPageScroll,
				behavior: 'smooth'
			});
		});
	</script>
	<!--Functions-->
	<script type="text/javascript">
		// Hide the loading bar on page load
		$(document).ready(function () {
			$('#loading-bar').hide();
			$('#123Section').show();
		});
		// [GET]
		// Proceed to checkout
		function proceedToCheckout() {
			let startPlaceOrder = 1;
			// Show the loading bar
			$('#loading-bar').show();
			$('#123Section').hide();
			// Make an Ajax call to the server to start the processing
			$.ajax({
				type: "POST",
				url: '/Checkout/Proceed',
				data: { startPlaceOrder: startPlaceOrder },
				success: function (r) {
					alertify.notify('Order Created!', 'success', 2, function () { console.log('dismissed'); });
					// Hide the loading bar when the processing is complete
					$('#loading-bar').hide();

					// Do something with the server response, if necessary
					alert('Thank You. Your Order has been placed. Please check your email!');
					window.location.href = '/Orders/Index';
				},
				error: function (e) {
					alertify.error('Error: You have entered some invalid information');
					window.location.href = '/Shop/Index';
				}
			});
		}
	</script>
</body>

</html>

