<div class="container">
    <div class="row">
        <div class="col" style="display: flex;align-items: center;flex-direction: row;background-color: #ffc10766;padding: 10px;">
            <div class="logo">
                <a href="/"><img src="/Media/Logo/LogoOfficialCropped.png" alt="WazaWare Find The Right Price!" style="border-radius:10px;"></a>
            </div>
        </div>
    </div>
</div>
<div class="header-inner" style="display:block;">
    <div class="container">
        <div class="cat-nav-head">
            <div class="row">
                <div class="col">
                    <div class="search-bar" style="display: contents;">
                        <form class="form-inline my-2 my-lg-0" style="display: flex;flex-direction: row;flex-wrap: nowrap;padding: 0 10px;">
                            @Html.TextBox("search", ViewBag.Search as string,
                            new {Class="form-control me-2", Style="color:#000000; background:#fff;", PlaceHolder="Search..." })
                            <button class="btn" type="submit" style="margin-right:0;"><i class="ti-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col">
                    <div class="menu-area">
                        <nav class="navbar navbar-expand-lg">
                            <div class="navbar-collapse">
                                <div class="nav-inner">
                                    <ul class="nav main-menu menu navbar-nav" style="display: flex; flex-direction: row;">
                                        <li>
                                            <a class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-10-hover" href="#0">Shop<i class="ti-angle-down"></i></a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="@Url.Action("Products", "Shop", new { category = "essential_hardware" })">
                                                        Essential Hardware<i class="ti-arrow-top-right"></i>
                                                    </a>          
                                                </li>
                                                <li>
                                                    <a class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-10-hover" href="@Url.Action("Products", "Shop", new { category = "latest_gpus" })">
                                                        Latest GPUS<i class="ti-arrow-top-right"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-10-hover" href="@Url.Action("Products", "Shop", new { category = "great_deals" })">
                                                        Great Deals<i class="ti-arrow-top-right"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-10-hover" href="@Url.Action("Products", "Shop", new { category = "pc_chassis" })">
                                                        PC Chassis<i class="ti-arrow-top-right"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-10-hover" href="@Url.Action("Products", "Shop", new { category = "data_storage" })">
                                                        Data Storage<i class="ti-arrow-top-right"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-10-hover" href="@Url.Action("Products", "Shop", new { category = "performace_laptops" })">
                                                        Performance Laptops<i class="ti-arrow-top-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-10-hover" href="/Shop/Cart"><i class="ti-shopping-cart-full" style="font-size:20px;"></i></a>
                                        </li>
                                        <li>
                                            <a class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-10-hover" href="/User"><i class="ti-user" style="font-size:20px;"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <!--/ End Main Menu -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>