<!-- Header Inner -->
<div class="header-inner">
	<div class="container">
		<div class="cat-nav-head">
			<div class="row">
				<div class="col-12">
					<div id="shopmenu" class="menu-area">
						<!-- Main Menu -->
						<nav class="navbar navbar-expand-lg">
							<div class="navbar-collapse">
								<div class="nav-inner">
									<ul class="nav main-menu menu navbar-nav">
										<li class="active">
											<a href="/Shop">Shop</a>
										</li>
										<li>
											<a href="@Url.Action("ProductDb", "Home", new { category = "essential_hardware" })">
												Essential Hardware<i class="ti-arrow-top-right"></i>
											</a>
										</li>
										<li>
											<a href="@Url.Action("ProductDb", "Home", new { category = "latest_gpus" })">
												Latest GPUS<i class="ti-arrow-top-right"></i>
											</a>
										</li>
										<li>
											<a href="@Url.Action("ProductDb", "Home", new { category = "great_deals" })">
												Great Deals<i class="ti-arrow-top-right"></i>
												</a>
										</li>
										<li>
											<a href="@Url.Action("ProductDb", "Home", new { category = "pc_chassis" })">
												PC Chassis<i class="ti-arrow-top-right"></i>
												</a>
										</li>
										<li>
											<a href="@Url.Action("ProductDb", "Home", new { category = "data_storage" })">
												Data Storage<i class="ti-arrow-top-right"></i>
												</a>
										</li>
										<li>
											<a href="@Url.Action("ProductDb", "Home", new { category = "performace_laptops" })">
												Performance Laptops<i class="ti-arrow-top-right"></i>
												</a>
										</li>
									</ul>
								</div>
							</div>
						</nav>
						<!--/ End Main Menu -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
<!--/ End Header Inner -->