@model wazaware.co.za.Models.ProductsViewModel
<!-- Header Inner -->
<div class="header-inner">
	<div class="container">
		<div class="cat-nav-head">
			<div class="row">
				<div class="col-12">
					<div id="shopmenu" class="menu-area">
						<!-- Main Menu -->
						<nav class="navbar navbar-expand-lg">
							<div class="navbar-collapse">
								<div class="nav-inner">
									<ul class="nav main-menu menu navbar-nav">
										<li class="active">
											<a href="/Shop">Shop</a>
										</li>
										<li>
											<a href="#0">Laptops<i class="ti-angle-down"></i><span class="new">New</span></a>
											<ul class="dropdown">
												<li>
													@Html.ActionLink("Coming Soon!", "Products",
													new { category = "non", filter = "non" })
												</li>
											</ul>
										</li>
										<li>
											<a href="#0">Graphic Cards<i class="ti-angle-down"></i><span class="new">New</span></a>
											<ul class="dropdown">
												<li>
													@Html.ActionLink("Coming Soon!", "Products",
													new { category = "non", filter = "non" })
												</li>
											</ul>
										</li>
										<li>
											<a href="#0">CPUs & Motherboards<i class="ti-angle-down"></i></a>
											<ul class="dropdown">
												<li>
													@Html.ActionLink("Coming Soon!", "Products",
													new { category = "non", filter = "non" })
												</li>
											</ul>
										</li>
										<li>
											<a href="#0">PC Chassis<i class="ti-angle-down"></i></a>
											<ul class="dropdown">
												<li>
													@Html.ActionLink("Coming Soon!", "Products",
													new { category = "non", filter = "non" })
												</li>
											</ul>
										</li>
										<li>
											<a href="#0">Data Storage<i class="ti-angle-down"></i></a>
											<ul class="dropdown">
												<li>
													@Html.ActionLink("Coming Soon!", "Products",
													new { category = "non", filter = "non" })
												</li>
											</ul>
										</li>
										<li>
											<a href="#0">Aftermarket Components<i class="ti-angle-down"></i></a>
											<ul class="dropdown">
												<li>
													@Html.ActionLink("Coming Soon!", "Products",
													new { category = "non", filter = "non" })
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</nav>
						<!--/ End Main Menu -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/ End Header Inner -->