@using WazaWare.co.za.Controllers;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model WazaWare.co.za.Models.ProductsViewModel
@{
	ViewData["Title"] = "Shopping Cart";
}
<!DOCTYPE html>
<configuration>
	<system.webServer>
		<security>
			<dynamicIpSecurity denyAction="Forbidden">
				<denyByConcurrentRequests enabled="true" maxConcurrentRequests="10" />
				<denyByRequestRate enabled="true" maxRequests="30" requestIntervalInMilliseconds="300" />
			</dynamicIpSecurity>
		</security>
	</system.webServer>
</configuration>
<html lang="zxx">
<head>		
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="WazaWare.co.za | Gaming | PC | Laptops | Monitors | PC Builder">
	<meta property="og:title" content="WazaWare">
	<meta property="og:description" content="WazaWare.co.za | Gaming | PC | Laptops | Monitors | PC Builder">
	<meta property="og:image" content="https://wazaware.co.za/Media/Logo/LogoOfficialIcon.png">
	<meta property="og:url" content="http://swiftlinkprod-env.eba-s2qbd5re.eu-central-1.elasticbeanstalk.com">
	<meta property="og:type" content="website">
	<meta name="twitter:card" content="https://wazaware.co.za/Media/Logo/LogoOfficialIcon.png">
	<meta name="twitter:title" content="WazaWare">
	<meta name="twitter:description" content="WazaWare.co.za | Gaming | PC | Laptops | Monitors | PC Builder">
	<meta name="twitter:image" content="https://wazaware.co.za/Media/Logo/LogoOfficialIcon.png">
	<!-- Logo -->
	<link rel="shortcut icon" href="http://swiftlinkprod-env.eba-s2qbd5re.eu-central-1.elasticbeanstalk.comhttps://wazaware.co.za/Media/Logo/favicon.ico" type="image/x-icon">
	<link rel="icon" href="http://swiftlinkprod-env.eba-s2qbd5re.eu-central-1.elasticbeanstalk.comhttps://wazaware.co.za/Media/Logo/favicon.ico" type="image/x-icon">
	<!-- Title Tag  -->
	<title>Shopping Cart</title>
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Lato:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	<!-- StyleSheet -->
	<!-- Bootstrap -->
	<link rel="stylesheet" href="~/css/bootstrap.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="~/css/magnific-popup.min.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="~/css/font-awesome.css">
	<!-- Fancybox -->
	<link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
	<!-- Themify Icons -->
	<link rel="stylesheet" href="~/css/themify-icons.css">
	<!-- Jquery Ui -->
	<link rel="stylesheet" href="~/css/jquery-ui.css">
	<!-- Nice Select CSS -->
	<link rel="stylesheet" href="~/css/niceselect.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="~/css/animate.css">
	<!-- Flex Slider CSS -->
	<link rel="stylesheet" href="~/css/flex-slider.min.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="~/css/owl-carousel.css">
	<!-- Slicknav -->
	<link rel="stylesheet" href="~/css/slicknav.min.css">
	<!-- Alertify -->
	<link rel="stylesheet" href="~/alertifyjs/css/alertify.min.css" />
	<link rel="stylesheet" href="~/alertifyjs/css/themes/default.min.css" />
	<!-- Reset CSS -->
	<link rel="stylesheet" href="~/css/reset.css">
	<!-- Nice Select JS -->
	<link rel="stylesheet" href="~/css/niceselect.css">
	<!-- Temp CSS -->
	<link rel="stylesheet" href="~/css/style.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="~/css/responsive.css">
	<!-- Site CSS -->
	<link rel="stylesheet" href="~/css/site.css">
	<style type="text/css">
		.cardChanges{
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-evenly;
			margin:10px;
		}
		/* hide mobile div by default */
		.mobile {
			display: none;
		}

		/* show desktop div on screens wider than 768px */
		@@media (min-width: 768px) {
			.desktop {
				display: block;
			}

			.mobile {
				display: none;
			}
		}

		/* show mobile div on screens narrower than 768px */
		@@media (max-width: 767px) {
			.desktop {
				display: none;
			}

			.mobile {
				display: block;
			}
		}
	</style>
</head>
<body class="js" onload="fireOncePerSession1();">
	<!-- Preloader -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- // -->
	<!-- Scroller -->
	<div id="progressBarContainer">
		<div id="progressBar"></div>
	</div>
	<!-- // -->
	<div class="header shop" style="background-color:#FFF5E1;">
		<!-- Topbar // Desktop Only -->
		<div class="desktop">
			<partial name="_TopBar" />
			<!-- Middle Inner -->
			<partial name="_MiddleInner" />
			<!-- Header Inner Partial View-->
			<partial name="_HeaderInner" />
		</div>
		<!-- // -->
		<!-- Header Inner // Mobile Only -->
		<div class="mobile">
			<!-- Header Inner Partial View-->
			<partial name="_HeaderInnerMobile" />
			<!-- // -->
		</div>
		<!-- // -->
	</div>
	<!-- Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner">
						<ul class="bread-list">
							<li><a href="/">Home<i class="ti-arrow-right"></i></a></li>
							<li><a href="/Shop">Shop<i class="ti-arrow-right"></i></a></li>
							<li class="active"><a href="/Shop/Cart">Cart</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->
	<!-- Shopping Cart -->
	@if (Model.Cart.Count() > 0)
	{
		<section class="product-area shop-sidebar shop section">
			<div class="container" style="max-width:100%">
				<div class="row">
					<div class="row">
						<div class="col-12">
							<p class="fs-4 h4" style="padding:0 10px;">
								My Shopping Cart
							</p>
							<p class="fs-2 h2"></p>
						</div>
					</div>
					<div id="cartmain" class="row section-divider">
						<!-- Shop Product Grid -->
						<div class="col-lg-7 col-md-4 col-12">
							<!-- Latest Products: Header -->
							<div class="col-12" style="padding: 0;">
								<div class="shop-top curvedEdges">
									<div class="content" style="width:100%;">
										@if(Model.Cart.Select(s => s.ShippingCost).First() != 0)
										{
											<div class="row">
												<div class="col">
													<script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
													<lord-icon src="https://cdn.lordicon.com/uetqnvvg.json"
															   trigger="loop-on-hover"
															   delay="1000"
															   colors="primary:#121331,secondary:#f7941d"
															   style="width:100px;height:100px">
													</lord-icon>
												</div>
												<div class="col" style="padding:25px">
													<p class="text-sm-start text-md-start text-lg-center">
														<span style="color:#ff6b6b; font-weight:500;">
															GET FREE SHIPPING
														</span>
													</p>
													<h3 class="text-sm-start text-md-start text-lg-center">
														Spend @Model.Cart.Select(s => s.TryGetFreeShippingFormatted).First() and We Cover Your Shipping Costs
													</h3>
												</div>
											</div>
										}
										else
										{
											<div class="row">
												<div class="col">
													<script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
													<lord-icon src="https://cdn.lordicon.com/uetqnvvg.json"
															   trigger="loop-on-hover"
															   delay="1000"
															   colors="primary:#121331,secondary:#f7941d"
															   style="width:100px;height:100px">
													</lord-icon>
												</div>
												<div class="col">
													<p class="text-sm-start text-md-start text-lg-center">
														<span style="color:#ff6b6b; font-weight:500;">
															FREE SHIPPING
														</span>
													</p>
													<h3 class="text-sm-start text-md-start text-lg-center">
														Your Shipping Costs are Covered Thats Means Its FREE!
													</h3>
												</div>
											</div>
										}
									</div>
								</div>
							</div>
							<!-- Cart Products: Grid -->
							<div class="row">
								@foreach (var product in Model.Cart)
								{
									<div class="col-lg-6 col-md-9 col-12">
										<div class="single-product contain-fit">
											<div class="product-img contain-fit">
												<a href="/Shop/Product/@product.ProductId">
													<img src="@Url.Action("GetImage", "Backend", new { id = product.ProductId })" alt="@product.ProductName" class="contain-fit" />
												</a>
												<div class="button-head">
													<div class="product-action">
														<a href="#0" class="remove" title="Remove this item" onclick="loadDeleteCart('@product.ProductId')">
															<i class="fa fa-remove"></i><span>Remove Item From Cart</span></a>
													</div>
												</div>
											</div>
											<div class="product-content">
												<h3><a href="/Shop/Product/@product.ProductId">@product.ProductName!.Substring(0,35) ...</a></h3>
												<div class="product-price">
													<span style="">Quantity : @Model.Cart.Select(s => s.ProductCount).First()</span>
												</div>
												<div class="product-price">
													<span style="">Price : @product.ProductTotalFormatted</span>
												</div>
												<div class="product-price">
													<span style="font-weight:800">You Save : @product.ProductBaseSaleDiffFormatted</span>
												</div>
											</div>
										</div>
									</div>
								}
							</div>
							<!-- // BREAK // -->
							<br>
						</div>
						<!-- Side Cards -->
						<div class="col-lg-5 col-md-6 col-12">
							<div class="card text-bg-dark" style="margin:10px;">
								<div class="card-header text-center">
									<p class="fs-2 h2">
									Checkout Cart
									</p>
								</div>
								<div class="card-body">
									@if (Model.Cart.Select(s => s.ShippingCost).First() != 0)
									{
										<p class="fs-4 h4">
											Shipping:<br>
											<span>
												@Model.Cart.Select(s => s.ShippingCostFormatted).First()
											</span>											
										</p>
										<br>
									}
									<p class="fs-4 h4">
										Your Total WAS:<br>
										<span class="text-decoration-line-through" style="color:red; text-decoration:line-through;">
											@Model.Cart.Select(s => s.CartBaseTotalFormatted).First()
										</span>
									</p>
									<br>
									<p class="fs-4 h4">
										You Save:<br>
										<span style="color:forestgreen;">
											@Model.Cart.Select(s => s.CartBaseSaleDiffFormatted).First()
										</span>
									</p>
									<br>
									<p class="fs-4 h4">
										Your Total NOW:<br>
										<span style="text-decoration-line:underline;font-weight:700;">
											@Model.Cart.Select(s => s.CartSaleTotalFormatted).First()
										</span>
									</p>
									<br>
								</div>

								<div class="card-footer text-center">
									<button onclick="" type="button" class="btn-outline-info fs-4 h4" style="padding:5px;">Checkout Cart</button>
									<button onclick="" type="button" class="btn-outline-info fs-4 h4" style="padding:5px;">Continue Shopping</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
@*		<div class="container">
			<div class="row">
				@foreach (var product in Model.Cart)
				{
					<div class="col">
						<div class="card" style="width: 18rem;">
							<img src="@Url.Action("GetImage", "Backend", new { id = product.ProductId })" class="card-img-top" height="100" width="100" alt="@product.ProductName" />
							<div class="card-body">
								<h5 class="card-title">@product.ProductName.Substring(0,35) ...</h5>
								<p class="card-text"><span style="text-decoration:line-through">R @product.ProductPriceBase</span> | R @product.ProductPriceSale</p>
								<a href="/Shop/Cart" class="remove" title="Remove this item" onclick="loadDeleteCart('@product.ProductId')"><i class="fa fa-remove"></i></a>
							</div>
						</div>
					</div>
				}
			</div>	
			<div class="shopping-cart section" style="padding: 50px; border-radius: 10px; margin: 15px;">
				<div class="row">
					<div class="col-12">
						<!-- Total Amount -->
						<div class="total-amount">
							<div class="row">
								<div class="col-lg-8 col-md-5 col-12">
									<div class="left">							
										@if (Model.Cart.Select(s => s.TryGetFreeShipping).First() != 0)
										{
											<label>Spend R <span style="text-decoration-line:underline;">@Model.Cart.Select(s => s.TryGetFreeShippingFormatted).First()</span> to get <b>FREE</b> Shipping</label>
											<button class="btn">Help me choose</button>
										}
										else
										{
											<label>Don't worry we got your shipping costs covered!</label>
										}
									</div>
								</div>
								<div class="col-lg-4 col-md-7 col-12">
									<div class="right">
										<ul>
											<li>Your Total without WazaWare :<span class="text-decoration-line-through" style="color:red; text-decoration:line-through;">@Model.Cart.Select(s => s.CartBaseTotalFormatted).First()</span></li>
											<li>Shipping<span>@Model.Cart.Select(s => s.ShippingCostFormatted).First()</span></li>
											<li style="font-weight:800;">You Save<span style="color:forestgreen;">@Model.Cart.Select(s => s.CartBaseSaleDiffFormatted).First()</span></li>
											<li class="last" style="font-weight:500;">You Pay <span style="text-decoration-line:underline">@Model.Cart.Select(s => s.CartSaleTotalFormatted).First()</span></li>
										</ul>
										<div class="button5">
											<a href="/Checkout" class="btn">Checkout</a>
											<a href="/Shop" class="btn">Continue shopping</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--/ End Total Amount -->
					</div>
				</div>
			</div>
		</div>*@
	}
	else
	{
		<section class="hero-slider">
			<!-- Single Slider -->
			<div class="single-slider" style="background-image:url(/Media/Shop/ShoppingCart.png)">
				<div class="container">
					<div class="row no-gutters">
						<div class="col-lg-9 offset-lg-3 col-12">
							<div class="text-inner">
								<div class="row">
									<div class="col-lg-7 col-12" style="background-color:rgba(0, 0, 0, 0.8);">
										<div class="hero-text">
											<h1><span style="color:ghostwhite">Don't forget to add to cart </span>Your Cart is Currently Empty...</h1>
											<p style="color:ghostwhite">Discover the lowest prices on hardware products with our AI-powered ecommerce store. Shop now for unbeatable deals.</p>
											<div class="button" style="padding:25px 0;">
												<a href="/Shop" class="btn">Shop Now!</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Single Slider -->
		</section>
	}
	<!-- // -->
	<!-- Shop Services Partial View-->
	<partial name="_Services" />
	<!-- // -->
	<!-- Footer Partial View-->
	<partial name="_Footer" />
	<!-- // -->
	@section Scripts {
		<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	}
	<!-- Jquery -->
	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/jquery-migrate-3.0.0.js"></script>
	<script src="~/s/jquery-ui.min.js"></script>
	<!-- Popper JS -->
	<script src="~/js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="~/js/bootstrap.min.js"></script>
	<!-- Color JS -->
	<script src="~/js/colors.js"></script>
	<!-- Slicknav JS -->
	<script src="~/js/slicknav.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="~/js/owl-carousel.js"></script>
	<!-- Magnific Popup JS -->
	<script src="~/js/magnific-popup.js"></script>
	<!-- Waypoints JS -->
	<script src="~/js/waypoints.min.js"></script>
	<!-- Countdown JS -->
	<script src="~/js/finalcountdown.min.js"></script>
	<!-- Nice Select JS -->
	<script src="~/js/nicesellect.js"></script>
	<!-- Flex Slider JS -->
	<script src="~/js/flex-slider.js"></script>
	<!-- Alertify -->
	<script src="~/alertifyjs/alertify.min.js"></script>
	<!-- ScrollUp JS -->
	<script src="~/js/scrollup.js"></script>
	<!-- Onepage Nav JS -->
	<script src="~/js/onepage-nav.min.js"></script>
	<!-- Easing JS -->
	<script src="~/js/easing.js"></script>
	<!-- Active JS -->
	<script src="~/js/active.js"></script>

	<!-- Custom Scripts -->
	<!-- Load ProgressBar -->
	<script type="text/javascript">
		const progressBarContainer = document.querySelector("#progressBarContainer");
		const progressBar = document.querySelector("#progressBar");
		let totalPageHeight = document.body.scrollHeight - window.innerHeight;
		let debounceResize;

		window.addEventListener("scroll", () => {
			let newProgressHeight = window.pageYOffset / totalPageHeight;
			progressBar.style.transform = `scale(1,${newProgressHeight})`;
			progressBar.style.opacity = `${newProgressHeight}`;
		}, {
			capture: true,
			passive: true
		});

		window.addEventListener("resize", () => {
			clearTimeout(debounceResize);
			debounceResize = setTimeout(() => {
				totalPageHeight = document.body.scrollHeight - window.innerHeight;
			}, 250);
		});

		progressBarContainer.addEventListener("click", (e) => {
			let newPageScroll = e.clientY / progressBarContainer.offsetHeight * totalPageHeight;
			window.scrollTo({
				top: newPageScroll,
				behavior: 'smooth'
			});
		});
	</script>
	<!--Functions-->
	<script type="text/javascript">
		// [Alertify]
		// Prompt user to accept or decline cookies
		function fireOncePerSession1() {
			if (!sessionStorage.getItem('hasFired1')) {
				$(document).ready(function () {
					alertify.confirm('DEV NOTICE!', 'Front-end is being redesigned! Back-end offers all functionality needed!',
						function () { alertify.success('Please Continue Testing Other WebPages for Now!') },
						function () { alertify.error('Not Cool Bro.... :(') }).set('movable', false);
				});
				sessionStorage.setItem('hasFired1', true);
			}
		}

		// [Alertify] & [POST]
		// If user is not subscribed then prompt user with pop-up (Delay: 25 secs)
		function SendSubAlert() {
			setTimeout(function () {
				alertify.prompt('Subscribe to Our Weekly Newsletter and get 10% Off Your First Order!', ' Enter Your Email', ' ',
					function (evt, value) {
						$.ajax({
							type: 'POST',
							url: '/Home/UpdateSubscribedStatus',
							data: { email: value },
							success: function () {
								sessionStorage.setItem('hasFired2', true);
							},
							error: function () {
								console.error('Error saving email!');
							}
						});
					},
					function () { alertify.error('Cancel') });
			}, 25000);
		}
		
		// [GET]
		// Load Shopping Cart
		function loadCart() {
			let basketStart = 1;
			$.ajax({
				type: 'GET',
				url: '/Shop/Index',
				data: { basketStart: basketStart },
				success: function (r) {
					$("#shoppingbasket").html($(r).find("#shoppingbasket").html());
				},
				error: function (e) {
					alertify.error('Error: JavaScript Function (loadCart)');
					alertify.error(e);
				}
			});
		}

		// [POST]
		// Delete from Cart
		function loadDeleteCart(productId) {
			$.ajax({
				type: 'POST',
				url: '/Shop/DeleteConfirmed',
				data: { BasketRemovePID: productId },
				success: function (r) {
					$("#shoppingbasket").html($(r).find("#shoppingbasket").html());
					alertify.notify('Removed from Cart!', 'custom', 2, function () { console.log('dismissed'); });
				},
				error: function (e) {
					alertify.error('Error: JavaScript Function (loadAddToCart)');
					alertify.error(e);
				}
			});
		}
	</script>
</body>
</html>