@using wazaware.co.za.Controllers;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model wazaware.co.za.Models.ProductsViewModel
@{
	ViewData["Title"] = "ProductName";
}
<!DOCTYPE html>
<configuration>
	<system.webServer>
		<security>
			<dynamicIpSecurity denyAction="Forbidden">
				<denyByConcurrentRequests enabled="true" maxConcurrentRequests="10" />
				<denyByRequestRate enabled="true" maxRequests="30" requestIntervalInMilliseconds="300" />
			</dynamicIpSecurity>
		</security>
	</system.webServer>
</configuration>
<html lang="zxx">
<head>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="WaZaWare.co.za /Find the Right Price/ | Gaming | PC | Laptops | Monitors | PC Builder">
	<meta property="og:title" content="WaZaWare">
	<meta property="og:description" content="WaZaWare.co.za /Find the Right Price/ | Gaming | PC | Laptops | Monitors | PC Builder">
	<meta property="og:image" content="http://swiftlinkprod-env.eba-s2qbd5re.eu-central-1.elasticbeanstalk.com/Media/Logo/LogoOfficialIcon.png">
	<meta property="og:url" content="https://swiftlinkprod-env.eba-s2qbd5re.eu-central-1.elasticbeanstalk.com">
	<meta property="og:type" content="website">
	<meta name="twitter:card" content="http://swiftlinkprod-env.eba-s2qbd5re.eu-central-1.elasticbeanstalk.com/Media/Logo/LogoOfficialIcon.png">
	<meta name="twitter:title" content="WaZaWare">
	<meta name="twitter:description" content="WaZaWare.co.za /Find the Right Price/ | Gaming | PC | Laptops | Monitors | PC Builder">
	<meta name="twitter:image" content="http://swiftlinkprod-env.eba-s2qbd5re.eu-central-1.elasticbeanstalk.com/Media/Logo/LogoOfficialIcon.png">
	<!-- Logo -->
	<link rel="shortcut icon" href="/Media/Logo/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/Media/Logo/favicon.ico" type="image/x-icon">
	<!-- Title Tag  -->
	<title>Product Page</title>
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Lato:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	<!-- StyleSheet -->
	<!-- Bootstrap -->
	<link rel="stylesheet" href="~/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/bootstrap/css/bootstrap.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="~/css/magnific-popup.min.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="~/css/font-awesome.css">
	<!-- Fancybox -->
	<link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
	<!-- Themify Icons -->
	<link rel="stylesheet" href="~/css/themify-icons.css">
	<!-- Jquery Ui -->
	<link rel="stylesheet" href="~/css/jquery-ui.css">
	<!-- Nice Select CSS -->
	<link rel="stylesheet" href="~/css/niceselect.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="~/css/animate.css">
	<!-- Flex Slider CSS -->
	<link rel="stylesheet" href="~/css/flex-slider.min.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="~/css/owl-carousel.css">
	<!-- Slicknav -->
	<link rel="stylesheet" href="~/css/slicknav.min.css">
	<!-- Alertify -->
	<link rel="stylesheet" href="~/alertifyjs/css/alertify.min.css" />
	<link rel="stylesheet" href="~/alertifyjs/css/themes/default.min.css" />
	<!-- Reset CSS -->
	<link rel="stylesheet" href="~/css/reset.css">
	<!-- Temp CSS -->
	<link rel="stylesheet" href="~/css/style.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="~/css/responsive.css">
	<!-- Site CSS -->
	<link rel="stylesheet" href="~/css/site.css">
	<style type="text/css">
		/* hide mobile div by default */
		.mobile {
			display: none;
		}

		/* show desktop div on screens wider than 768px */
		@@media (min-width: 768px) {
			.desktop {
				display: block;
			}

			.mobile {
				display: none;
			}
		}

		/* show mobile div on screens narrower than 768px */
		@@media (max-width: 767px) {
			.desktop {
				display: none;
			}

			.mobile {
				display: block;
			}
		}
	</style>
</head>
<body class="js" onload="fireOncePerSession1();">
	<!-- Preloader -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!--/ End Preloader -->
	<div class="header shop" style="background-color:#FFF5E1;">
		<!-- Topbar // Desktop Only -->
		<div class="desktop">
			<partial name="_TopBar" />
			<!-- Middle Inner -->
			<partial name="_MiddleInner" />
			<!-- Header Inner Partial View-->
			<partial name="_HeaderInner" />
		</div>
		<!-- // -->
		<!-- Header Inner // Mobile Only -->
		<div class="mobile">
			<!-- Header Inner Partial View-->
			<partial name="_HeaderInnerMobile" />
			<!-- // -->
		</div>
		<!-- // -->
	</div>
	@if (ViewBag.Oops != true)
	{
	<!-- // -->
	<!-- Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner">
						<ul class="bread-list">
							<li><a href="/Shop">Shop<i class="ti-arrow-right"></i></a></li>
							<li class="active"><a href="">@Model.Product.ProductName!.Substring(0, 20)</a></li>							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->
		<!-- Start Product -->
		<div class="product">
			<div class="container">
				<div id="progressBarContainer">
					<div id="progressBar"></div>
				</div>
				<div class="modal-body">
					<div class="row no-gutters">
						<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
							<!-- Product Slider -->
							<div class="product-gallery">
								<img src="@Url.Action("GetImage", "Backend", new { id = Model.Product.ProductId })" alt="@Model.Product.ProductName" />
							</div>
							<!-- End Product slider -->
						</div>
						<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
							<div class="quickview-content">
								<h2>@Model.Product.ProductName</h2>
								<div class="quickview-ratting-review">
									<div class="quickview-ratting-wrap">
										<div class="quickview-ratting">
											<i class="yellow fa fa-star"></i>
											<i class="yellow fa fa-star"></i>
											<i class="yellow fa fa-star"></i>
											<i class="yellow fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<a href="#"> (1 customer review)</a>
									</div>
								</div>
								<div class="quickview-stock">
									<span><i class="fa fa-check-circle-o"></i> @Model.Product.ProductStock</span>
								</div>
								<div class="product-price">
									<span class="text-decoration-line-through" style="color:red">R @Model.Product.ProductPriceBase</span>
									<h3 style="font-weight:800;">R @Model.Product.ProductPriceSale</h3>
								</div>
								<div class="quickview-peragraph">
									<p>@Model.Product.ProductDescription</p>
								</div>
								<div class="add-to-cart">
									<a href="#" class="btn" onclick="loadAddToCart('@Model.Product.ProductId')">Add to cart</a>
								</div>
								<div class="default-social">
									<h4 class="share-now">Share:</h4>
									<ul>
										<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a class="youtube" href="#"><i class="fa fa-pinterest-p"></i></a></li>
										<li><a class="dribbble" href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- // -->

	<!-- Similar Products -->
	<div style="border-top:dotted; border-width:2px; margin:15px; padding:10px;"></div>
	<div class="container">
		<div class="col-9">
			<h3>Similar Products Section is being implemented</h3>
		</div>
		<div class="row">
			<div class="col">
				<script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
				<lord-icon src="https://cdn.lordicon.com/bfcglkmk.json"
						   trigger="loop"
						   delay="2000"
						   colors="primary:#1663c7,secondary:#f7941d"
						   style="width:200px;height:200px">
				</lord-icon>
			</div>
		</div>
	</div>
	<div style="border-top:dotted; border-width:2px; margin:15px; padding:10px;"></div>
	<!-- // -->
	}
	else
	{
		<h1>Product Is Sold Out!</h1>
	}
	<!-- Footer Partial View-->
	<partial name="_Footer" />
	<!-- // -->
	<!-- Jquery -->
	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/jquery-migrate-3.0.0.js"></script>
	<script src="~/js/jquery-ui.min.js"></script>
	<!-- Popper JS -->
	<script src="~/js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="~/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
	<!-- Slicknav JS -->
	<script src="~/js/slicknav.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="~/js/owl-carousel.js"></script>
	<!-- Magnific Popup JS -->
	<script src="~/js/magnific-popup.js"></script>
	<!-- Waypoints JS -->
	<script src="~/js/waypoints.min.js"></script>
	<!-- Countdown JS -->
	<script src="~/js/finalcountdown.min.js"></script>
	<!-- Nice Select JS -->
	<script src="~/js/nicesellect.js"></script>
	<!-- Flex Slider JS -->
	<script src="~/js/flex-slider.js"></script>
	<!-- Alertify -->
	<script src="~/alertifyjs/alertify.min.js"></script>
	<!-- ScrollUp JS -->
	<script src="/js/scrollup.js"></script>
	<!-- Onepage Nav JS -->
	<script src="~/js/onepage-nav.min.js"></script>
	<!-- Easing JS -->
	<script src="~/js/easing.js"></script>
	<!-- Active JS -->
	<script src="~/js/active.js"></script>
	<!-- Custom Scripts -->	
	<!-- Load ProgressBar -->
	<script type="text/javascript">
		const progressBarContainer = document.querySelector("#progressBarContainer");
		const progressBar = document.querySelector("#progressBar");
		let totalPageHeight = document.body.scrollHeight - window.innerHeight;
		let debounceResize;

		window.addEventListener("scroll", () => {
			let newProgressHeight = window.pageYOffset / totalPageHeight;
			progressBar.style.transform = `scale(1,${newProgressHeight})`;
			progressBar.style.opacity = `${newProgressHeight}`;
		}, {
			capture: true,
			passive: true
		});

		window.addEventListener("resize", () => {
			clearTimeout(debounceResize);
			debounceResize = setTimeout(() => {
				totalPageHeight = document.body.scrollHeight - window.innerHeight;
			}, 250);
		});

		progressBarContainer.addEventListener("click", (e) => {
			let newPageScroll = e.clientY / progressBarContainer.offsetHeight * totalPageHeight;
			window.scrollTo({
				top: newPageScroll,
				behavior: 'smooth'
			});
		});
	</script>
	<!--Functions-->
	<script type="text/javascript">
		// [GET]
		// Logs User Out -> Bug: User must browse to notice they have logged out
		function userLogout() {
			alertify.notify('Logging out', 'custom', 2, function () { console.log('dismissed'); });
			$.ajax({
				type: 'GET',
				url: '/User/Logout',
				success: function (r) {
					alertify.notify('You have Logged out' + category, 'success', 3, function () { console.log('dismissed'); });
					alertify.notify('There is a known BUG!!! Please Refresh Wepage or Click on profile to see that you have logged out!', 'error', 10, function () { console.log('dismissed'); });

				},
				error: function (e) {
					alertify.error('Error: JavaScript Function (userLogout)');
				}
			});
			window.location.href = '/Shop/Index';
		}
		// Plug and Play Notice Popup if Necessary
		function inDevNotice() {
			alertify.notify('Out-Of-Service!', 'error', 3, function () { console.log('dismissed'); });
			alertify.notify('Functionality is under-construction as currently disable...Try me again abit later :)', 'warn', 5, function () { console.log('dismissed'); });
		}
		// [GET]
		// Load Shopping Cart
		function loadCart() {
			actionCode = 1;
			$.ajax({
				type: 'GET',
				url: '/Shop/Index',
				data: { actionCode: actionCode },
				success: function (r) {
					$("#shoppingbasket").html($(r).find("#shoppingbasket").html());
				},
				error: function (e) {
					alertify.error('Oops, Something went wrong... :(');
				}
			});
		}
		// [GET]
		// Add to Cart
		function loadAddToCart(productId) {
			alertify.notify('Please Wait: Adding...', 'custom', 3, function () { console.log('dismissed'); });
			actionCode = 5;
			$.ajax({
				type: 'GET',
				url: '/Shop/Index',
				data: { productId: productId, actionCode: actionCode },
				success: function (r) {
					$("#shoppingbasket").html($(r).find("#shoppingbasket").html());
					alertify.notify('Added to Cart!', 'success', 3, function () { console.log('dismissed'); });
				},
				error: function (e) {
					alertify.error('Oops, Something went wrong... :(');
				}
			})
		}
		// [POST]
		// Delete from Cart
		function loadDeleteCart(productId) {
			alertify.notify('Please Wait: Removing...', 'custom', 3, function () { console.log('dismissed'); });
			actionCode = 10;
			$.ajax({
				type: 'GET',
				url: '/Shop/Index',
				data: { productId: productId, actionCode: actionCode },
				success: function (r) {
					$("#shoppingbasket").html($(r).find("#shoppingbasket").html());
					alertify.notify('Removed from Cart!', 'success', 3, function () { console.log('dismissed'); });
				},
				error: function (e) {
					alertify.error('Oops, Something went wrong... :(');
				}
			});
		}
	</script>
</body>
</html>